# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
#Import your libraries
import numpy as np
import pandas as pd

# Introduction

In this lab, we will use two datasets. Both datasets contain variables that describe apps from the Google Play Store. We will use our knowledge in feature extraction to process these datasets and prepare them for the use of a ML algorithm.

# Challenge 1 - Loading and Extracting Features from the First Dataset

#### In this challenge, our goals are: 

* Exploring the dataset.
* Identify the columns with missing values.
* Either replacing the missing values in each column or drop the columns.
* Conver each column to the appropriate type.

#### The first dataset contains different information describing the apps. 

Load the dataset into the variable `google_play` in the cell below. The dataset is in the file `googleplaystore.csv`

In [2]:
# Your code here:
google_play = pd.read_csv('googleplaystore.csv')
google_play.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [3]:
google_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [4]:
google_play.shape

(10841, 13)

#### Make all column names lower case and fill gaps

In [5]:
google_play.columns=[x.lower() for x in google_play.columns]
google_play.columns=[x.replace(' ','_') for x in google_play.columns]
google_play.columns

Index(['app', 'category', 'rating', 'reviews', 'size', 'installs', 'type',
       'price', 'content_rating', 'genres', 'last_updated', 'current_ver',
       'android_ver'],
      dtype='object')

#### Examine all variables and their types in the following cell

In [6]:
# Your code here:
google_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app             10841 non-null  object
 1   category        10841 non-null  object
 2   rating          9367 non-null   float64
 3   reviews         10841 non-null  object
 4   size            10841 non-null  object
 5   installs        10841 non-null  object
 6   type            10840 non-null  object
 7   price           10841 non-null  object
 8   content_rating  10840 non-null  object
 9   genres          10841 non-null  object
 10  last_updated    10841 non-null  object
 11  current_ver     10833 non-null  object
 12  android_ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

#### We can see that there are a few columns that could be coerced to numeric.

Start with the reviews column. We can evaluate what value is causing this column to be of object type finding the non-numeric values in this column. To do this, we recall the `to_numeric()` function. With this function, we are able to coerce all non-numeric data to null. We can then use the `isnull()` function to subset our dataframe using the True/False column that this function generates.

In the cell below, transform the Reviews column to numeric and assign this new column to the variable `Reviews_numeric`. Make sure to coerce the errors.

In [7]:
google_play.reviews

0           159
1           967
2         87510
3        215644
4           967
          ...
10836        38
10837         4
10838         3
10839       114
10840    398307
Name: reviews, Length: 10841, dtype: object

In [8]:
google_play['reviews_numeric'] = google_play['reviews']

In [9]:
# Your code here:
google_play.reviews_numeric = [pd.to_numeric(x, errors='coerce') for x in google_play.reviews]

Next, create a column containing True/False values using the `isnull()` function. Assign this column to the `Reviews_isnull` variable.

In [10]:
# Your code here:
google_play['reviews_numeric'] = pd.isnull(google_play.reviews_numeric)

In [11]:
google_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   app              10841 non-null  object
 1   category         10841 non-null  object
 2   rating           9367 non-null   float64
 3   reviews          10841 non-null  object
 4   size             10841 non-null  object
 5   installs         10841 non-null  object
 6   type             10840 non-null  object
 7   price            10841 non-null  object
 8   content_rating   10840 non-null  object
 9   genres           10841 non-null  object
 10  last_updated     10841 non-null  object
 11  current_ver      10833 non-null  object
 12  android_ver      10838 non-null  object
 13  reviews_numeric  10841 non-null  bool
dtypes: bool(1), float64(1), object(12)
memory usage: 1.1+ MB

Finally, subset the `google_play` with `Reviews_isnull`. This should give you all the rows that contain non-numeric characters.

Your output should look like:

![Reviews_bool.png](../images/reviews-bool.png)

In [12]:
# Your code here:
google_play.reviews_numeric.sort_values(ascending=False)

10472     True
10840    False
3610     False
3617     False
3616     False
         ...
7225     False
7224     False
7223     False
7222     False
0        False
Name: reviews_numeric, Length: 10841, dtype: bool

In [13]:
google_play.reviews_numeric.value_counts()

False    10840
True         1
Name: reviews_numeric, dtype: int64

In [14]:
google_play.loc[google_play["reviews_numeric"] == True]

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver,reviews_numeric
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,True

#### We see that Google Play is using a shorthand for millions. 

Let's write a function to transform this data.

Steps:

1. Create a function that returns the correct numeric values of *Reviews*.
1. Define a test string with `M` in the last character.
1. Test your function with the test string. Make sure your function works correctly. If not, modify your functions and test again.

In [15]:
google_play.reviews.dtype

dtype('O')

In [16]:
# Your code here

def convert_string_to_numeric(t):
        
    """
    Convert a string value to numeric. If the last character of the string is `M`, obtain the 
    numeric part of the string, multiply it with 1,000,000, then return the result. Otherwise, 
    convert the string to numeric value and return the result.
    
    Args:
        s: The Reviews score in string format.

    Returns:
        The correct numeric value of the Reviews score.
    """
    return np.NaN

test_string = '4.0M'

convert_string_to_numeric(test_string) == 4000000

False

In [17]:
def convert_string_to_numeric(t):
    g = []
    for s in t:
        if s[-1] == 'M':
            s = s[0:-1]
            s = float(s)*1000000
            g.append(s)
        else:
            s = float(s)
            g.append(s)
    return g

The last step is to apply the function to the `Reviews` column in the following cell:

In [18]:
google_play.reviews = convert_string_to_numeric(google_play.reviews)

Check the non-numeric `Reviews` row again. It should have been fixed now and you should see:

![Reviews_bool_fixed.png](../images/reviews-bool-fixed.png)

In [19]:
# Your code here
google_play.loc[google_play["reviews_numeric"] == True]

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver,reviews_numeric
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3000000.0,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,True

Also check the variable types of `google_play`. The `Reviews` column should be a `float64` type now.

In [20]:
# Your code here:
google_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   app              10841 non-null  object
 1   category         10841 non-null  object
 2   rating           9367 non-null   float64
 3   reviews          10841 non-null  float64
 4   size             10841 non-null  object
 5   installs         10841 non-null  object
 6   type             10840 non-null  object
 7   price            10841 non-null  object
 8   content_rating   10840 non-null  object
 9   genres           10841 non-null  object
 10  last_updated     10841 non-null  object
 11  current_ver      10833 non-null  object
 12  android_ver      10838 non-null  object
 13  reviews_numeric  10841 non-null  bool
dtypes: bool(1), float64(2), object(11)
memory usage: 1.1+ MB

#### The next column we will look at is `Size`. We start by looking at all unique values in `Size`:

*Hint: use `unique()` ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html))*.

In [21]:
# Your code here:
google_play['size'].unique

<bound method Series.unique of 0                       19M
1                       14M
2                      8.7M
3                       25M
4                      2.8M
                ...
10836                   53M
10837                  3.6M
10838                  9.5M
10839    Varies with device
10840                   19M
Name: size, Length: 10841, dtype: object>

You should have seen lots of unique values of the app sizes.

#### While we can convert most of the `Size` values to numeric in the same way we converted the `Reviews` values, there is one value that is impossible to convert.

What is that badass value? Enter it in the next cell and calculate the proportion of its occurence to the total number of records of `google_play`.

In [22]:
# Your code here:
count_vwd=len(google_play[google_play['size'] == 'Varies with device'])
count_vwd
count_size=len(google_play['size'])
prop=count_vwd/count_size*100
print (round(prop,1),'%')

15.6 %

#### While this column may be useful for other types of analysis, we opt to drop it from our dataset. 

There are two reasons. First, the majority of the data are ordinal but a sizeable proportion are missing because we cannot convert them to numerical values. Ordinal data are both numerical and categorical, and they usually can be ranked (e.g. 82k is smaller than 91M). In contrast, non-ordinal categorical data such as blood type and eye color cannot be ranked. The second reason is as a categorical column, it has too many unique values to produce meaningful insights. Therefore, in our case the simplest strategy would be to drop the column.

Drop the column in the cell below (use `inplace=True`)

In [23]:
google_play.drop(['size'], axis = 1, inplace=True)

In [24]:
google_play.head()

,app,category,rating,reviews,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver,reviews_numeric
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,False
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,False
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,False
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,False
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,False

#### Now let's look at how many missing values are in each column. 

This will give us an idea of whether we should come up with a missing data strategy or give up on the column all together. In the next column, find the number of missing values in each column: 

*Hint: use the `isna()` and `sum()` functions.*

In [25]:
# Your code here:
google_play.isna().sum()

app                   0
category              0
rating             1474
reviews               0
installs              0
type                  1
price                 0
content_rating        1
genres                0
last_updated          0
current_ver           8
android_ver           3
reviews_numeric       0
dtype: int64

You should find the column with the most missing values is now `Rating`.

#### What is the proportion of the missing values in `Rating` to the total number of records?

Enter your answer in the cell below.

In [26]:
google_play['rating'].sum()

39279.0

In [27]:
# Your code here:
print(round(google_play['rating'].isna().sum()/google_play['rating'].sum()*100,1),'%')

3.8 %

A sizeable proportion of the `Rating` column is missing. A few other columns also contain several missing values.

#### We opt to preserve these columns and remove the rows containing missing data.

In particular, we don't want to drop the `Rating` column because:

* It is one of the most important columns in our dataset. 

* Since the dataset is not a time series, the loss of these rows will not have a negative impact on our ability to analyze the data. It will, however, cause us to lose some meaningful observations. But the loss is limited compared to the gain we receive by preserving these columns.

In the cell below, remove all rows containing at least one missing value. Use the `dropna()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html)). Assign the new dataframe to the variable `google_missing_removed`.

In [28]:
# Your code here:
gmr = google_play.dropna(subset=['rating'])

In [29]:
gmr.isna().sum()

app                0
category           0
rating             0
reviews            0
installs           0
type               0
price              0
content_rating     1
genres             0
last_updated       0
current_ver        4
android_ver        3
reviews_numeric    0
dtype: int64

From now on, we use the `google_missing_removed` variable instead of `google_play`.

#### Next, we look at the `Last Updated` column.

The `Last Updated` column seems to contain a date, though it is classified as an object type. Let's convert this column using the `pd.to_datetime` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)).

Note: this funciton turns the value into a date (value type). The %B etc definitions are describing the layout of the existing values, so that the function can interpret them.

In [30]:
# Your code here:
pd.to_datetime(gmr['last_updated'], format = '%B %d, %Y', errors = 'coerce')

0       2018-01-07
1       2018-01-15
2       2018-08-01
3       2018-06-08
4       2018-06-20
           ...
10834   2017-06-18
10836   2017-07-25
10837   2018-07-06
10839   2015-01-19
10840   2018-07-25
Name: last_updated, Length: 9367, dtype: datetime64[ns]

#### The last column we will transform is `Price`. 

We start by looking at the unique values of this column.

In [31]:
# Your code here:
gmr.price.nunique()

74

In [32]:
gmr.price.unique()

array(['0', '$4.99', '$3.99', '$6.99', '$7.99', '$5.99', '$2.99', '$3.49',
       '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49', '$10.00',
       '$24.99', '$11.99', '$79.99', '$16.99', '$14.99', '$29.99',
       '$12.99', '$2.49', '$10.99', '$1.50', '$19.99', '$15.99', '$33.99',
       '$39.99', '$3.95', '$4.49', '$1.70', '$8.99', '$1.49', '$3.88',
       '$399.99', '$17.99', '$400.00', '$3.02', '$1.76', '$4.84', '$4.77',
       '$1.61', '$2.50', '$1.59', '$6.49', '$1.29', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$8.49', '$1.75', '$14.00', '$2.00',
       '$3.08', '$2.59', '$19.40', '$3.90', '$4.59', '$15.46', '$3.04',
       '$13.99', '$4.29', '$3.28', '$4.60', '$1.00', '$2.95', '$2.90',
       '$1.97', '$2.56', 'Everyone', '$1.20'], dtype=object)

Since all prices are ordinal data without exceptions, we can tranform this column by removing the dollar sign and converting to numeric. We can create a new column called `Price Numerical` and drop the original column.

We will achieve our goal in three steps. Follow the instructions of each step below.

#### First we remove the dollar sign. Do this in the next cell by applying the `str.replace` function to the column to replace `$` with an empty string (`''`).

In [35]:
# Your code here:
gmr.price=gmr.price.str.replace('$','')

In [36]:
gmr.price.unique()

array(['0', '4.99', '3.99', '6.99', '7.99', '5.99', '2.99', '3.49',
       '1.99', '9.99', '7.49', '0.99', '9.00', '5.49', '10.00', '24.99',
       '11.99', '79.99', '16.99', '14.99', '29.99', '12.99', '2.49',
       '10.99', '1.50', '19.99', '15.99', '33.99', '39.99', '3.95',
       '4.49', '1.70', '8.99', '1.49', '3.88', '399.99', '17.99',
       '400.00', '3.02', '1.76', '4.84', '4.77', '1.61', '2.50', '1.59',
       '6.49', '1.29', '299.99', '379.99', '37.99', '18.99', '389.99',
       '8.49', '1.75', '14.00', '2.00', '3.08', '2.59', '19.40', '3.90',
       '4.59', '15.46', '3.04', '13.99', '4.29', '3.28', '4.60', '1.00',
       '2.95', '2.90', '1.97', '2.56', 'Everyone', '1.20'], dtype=object)

#### Second step, coerce the `Price Numerical` column to numeric.

In [37]:
# Your code here:
gmr.price = [pd.to_numeric(x, errors='coerce') for x in gmr.price]
gmr.price.unique()

array([  0.  ,   4.99,   3.99,   6.99,   7.99,   5.99,   2.99,   3.49,
         1.99,   9.99,   7.49,   0.99,   9.  ,   5.49,  10.  ,  24.99,
        11.99,  79.99,  16.99,  14.99,  29.99,  12.99,   2.49,  10.99,
         1.5 ,  19.99,  15.99,  33.99,  39.99,   3.95,   4.49,   1.7 ,
         8.99,   1.49,   3.88, 399.99,  17.99, 400.  ,   3.02,   1.76,
         4.84,   4.77,   1.61,   2.5 ,   1.59,   6.49,   1.29, 299.99,
       379.99,  37.99,  18.99, 389.99,   8.49,   1.75,  14.  ,   2.  ,
         3.08,   2.59,  19.4 ,   3.9 ,   4.59,  15.46,   3.04,  13.99,
         4.29,   3.28,   4.6 ,   1.  ,   2.95,   2.9 ,   1.97,   2.56,
          nan,   1.2 ])

**Finally, drop the original `Price` column.**

#Your code here:

Don't need to . I already coverted price column

Now check the variable types of `google_missing_removed`. Make sure:

* `Size` and `Price` columns have been removed.
* `Rating`, `Reviews`, and `Price Numerical` have the type of `float64`.
* `Last Updated` has the type of `datetime64`.

In [38]:
# Your code here
gmr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9367 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   app              9367 non-null   object
 1   category         9367 non-null   object
 2   rating           9367 non-null   float64
 3   reviews          9367 non-null   float64
 4   installs         9367 non-null   object
 5   type             9367 non-null   object
 6   price            9366 non-null   float64
 7   content_rating   9366 non-null   object
 8   genres           9367 non-null   object
 9   last_updated     9367 non-null   object
 10  current_ver      9363 non-null   object
 11  android_ver      9364 non-null   object
 12  reviews_numeric  9367 non-null   bool
dtypes: bool(1), float64(3), object(9)
memory usage: 960.5+ KB

# Challenge 2 - Loading and Extracting Features from the Second Dataset

Load the second dataset to the variable `google_reviews`. The data is in the file `googleplaystore_user_reviews.csv`.

In [39]:
# Your code here:
google_play_review = pd.read_csv('googleplaystore_user_reviews.csv')

#### This dataset contains the top 100 reviews for each app. 

Let's examine this dataset using the `head` function

In [ ]:
# Your code here
google_play_review.head()

#### The main piece of information we would like to extract from this dataset is the proportion of positive reviews of each app. 

Columns like `Sentiment_Polarity` and `Sentiment_Subjectivity` are not to our interests because we have no clue how to use them. We do not care about `Translated_Review` because natural language processing is too complex for us at present (in fact the `Sentiment`, `Sentiment_Polarity`, and `Sentiment_Subjectivity` columns are derived from `Translated_Review` the data scientists). 

What we care about in this challenge is `Sentiment`. To be more precise, we care about **what is the proportion of *Positive* sentiment of each app**. This will require us to aggregate the `Sentiment` data by `App` in order to calculate the proportions.

Now that you are clear about what we are trying to achieve, follow the steps below that will walk you through towards our goal.

#### Our first step will be to remove all rows with missing sentiment. 

In the next cell, drop all rows with missing data using the `dropna()` function and assign this new dataframe to `review_missing_removed`.

In [40]:
# Your code here:
rmr=google_play_review.dropna(subset=['Sentiment'])

#### Now, use the `value_counts()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)) to get a sense on how many apps are in this dataset and their review counts.

In [41]:
# Your code here:
rmr.Sentiment.value_counts()

Positive    23998
Negative     8271
Neutral      5163
Name: Sentiment, dtype: int64

#### Now the tough part comes. Let's plan how we will achieve our goal:

1. We will count the number of reviews that contain *Positive* in the `Sentiment` column.

1. We will create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app.

1. We will then loop the new dataframe to calculate the postivie review portion of each app.

#### Step 1: Count the number of positive reviews.

In the following cell, write a function that takes a column and returns the number of times *Positive* appears in the column. 

*Hint: One option is to use the `np.where()` function ([documentation](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.where.html)).*

In [ ]:
# Your code below

def positive_function(x):
    """
    Count how many times the string `Positive` appears in a column (exact string match).
    
    Args:
        x: data column
    
    Returns:
        The number of occurrences of `Positive` in the column data.
    """
    return 0

In [42]:
def positive_function(x):
    return np.where((x == 'Positive'), True, False)

In [62]:
positive_function(rmr['Sentiment'])

array([ True,  True,  True, ..., False,  True, False])

In [44]:
# Your code below
def positive_function1(x):
    return sum(np.where((x == 'Positive'), True, False))

In [59]:
positive_function1(rmr['Sentiment'])

23998

#### Step 2: Create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app

We will group `review_missing_removed` by the `App` column, then aggregate the grouped dataframe on the number of positive reviews and the total review counts of each app. The result will be assigned to a new variable `google_agg`. Here is the ([documentation on how to achieve it](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.core.groupby.DataFrameGroupBy.agg.html)). Take a moment or two to read the documentation and google examples because it is pretty complex.

When you obtain `google_agg`, check its values to make sure it has an `App` column as its index as well as a `Positive` column and a `Total` column. Your output should look like:

![Positive Reviews Agg](../images/positive-review-agg.png)

*Hint: Use `positive_function` you created earlier as part of the param passed to the `agg()` function in order to aggregate the number of positive reviews.*

#### Bonus:

As of Pandas v0.23.4, you may opt to supply an array or an object to `agg()`. If you use the array param, you'll need to rename the columns so that their names are `Positive` and `Total`. Using the object param will allow you to create the aggregated columns with the desirable names without renaming them. However, you will probably encounter a warning indicating supplying an object to `agg()` will become outdated. It's up to you which way you will use. Try both ways out. Any way is fine as long as it works.

In [55]:
# Your code here:
rmr.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
5,10 Best Foods for You,Best way,Positive,1.00,0.300000

In [67]:
gagg=rmr.groupby(['App']).agg({'Sentiment': [positive_function1, 'count']})

In [71]:
gagg.columns = ['Positive', 'Total']

Print the first 5 rows of `google_agg` to check it.

In [70]:
# Your code here
gagg

                                                    Positive  Total
App
10 Best Foods for You                                    162    194
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室                          31     40
11st                                                      23     40
1800 Contacts - Lens Store                                64     80
1LINE – One Line with One Touch                           27     38
...                                                      ...    ...
Hotels.com: Book Hotel Rooms & Find Vacation Deals        39     68
Hotspot Shield Free VPN Proxy & Wi-Fi Security            17     34
Hotstar                                                   14     32
Hotwire Hotel & Car Rental App                            16     33
Housing-Real Estate & Property                             8     21

[865 rows x 2 columns]

#### Add a derived column to `google_agg` that is the ratio of the `Positive` and the `Total` columns. Call this column `Positive Ratio`. 

Make sure to account for the case where the denominator is zero using the `np.where()` function.

In [82]:
# Your code here:
gagg['positive_ratio'] = np.where(gagg['Positive'] > 0, round(gagg['Positive']/gagg['Total'] *100, 1), 'NA')

In [78]:
gagg

,Positive,Total,positive_ratio
App,,,
10 Best Foods for You,162,194,83.5
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,31,40,77.5
11st,23,40,57.5
1800 Contacts - Lens Store,64,80,80.0
1LINE – One Line with One Touch,27,38,71.1
...,...,...,...
Hotels.com: Book Hotel Rooms & Find Vacation Deals,39,68,57.4
Hotspot Shield Free VPN Proxy & Wi-Fi Security,17,34,50.0
Hotstar,14,32,43.8
Hotwire Hotel & Car Rental App,16,33,48.5
Housing-Real Estate & Property,8,21,38.1

#### Now drop the `Positive` and `Total` columns. Do this with `inplace=True`.

In [99]:
# Your code here:
gagg.drop('Positive', axis=1, inplace=True)

KeyError: "['Positive'] not found in axis"

In [100]:
gagg.drop('Total', axis=1, inplace=True)

Print the first 5 rows of `google_agg`. Your output should look like:

![Positive Reviews Agg](../images/positive-review-ratio.png)

In [101]:
# Your code here:
gagg

                                                   positive_ratio
App
10 Best Foods for You                                        83.5
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室                             77.5
11st                                                         57.5
1800 Contacts - Lens Store                                   80.0
1LINE – One Line with One Touch                              71.1
...                                                           ...
Hotels.com: Book Hotel Rooms & Find Vacation Deals           57.4
Hotspot Shield Free VPN Proxy & Wi-Fi Security               50.0
Hotstar                                                      43.8
Hotwire Hotel & Car Rental App                               48.5
Housing-Real Estate & Property                               38.1

[865 rows x 1 columns]

# Challenge 3 - Join the Dataframes

In this part of the lab, we will join the two dataframes and obtain a dataframe that contains features we can use in our ML algorithm.

In the next cell, join the `google_missing_removed` dataframe with the `google_agg` dataframe on the `App` column. Assign this dataframe to the variable `google`.

In [107]:
# Your code here:
google = rmr.merge(gagg, left_on = 'App', right_on = 'App')

#### Let's look at the final result using the `head()` function. Your final product should look like:

![Final Product](../images/google-final-head.png)

In [108]:
# Your code here:
google

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity,positive,positive_ratio
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.000000,0.533333,True,83.5
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.250000,0.288462,True,83.5
2,10 Best Foods for You,Works great especially going grocery store,Positive,0.400000,0.875000,True,83.5
3,10 Best Foods for You,Best idea us,Positive,1.000000,0.300000,True,83.5
4,10 Best Foods for You,Best way,Positive,1.000000,0.300000,True,83.5
...,...,...,...,...,...,...,...
37427,Housing-Real Estate & Property,Most ads older many agents ..not much owner po...,Positive,0.173333,0.486667,True,38.1
37428,Housing-Real Estate & Property,"If photos posted portal load, fit purpose. I'm...",Positive,0.225000,0.447222,True,38.1
37429,Housing-Real Estate & Property,"Dumb app, I wanted post property rent give opt...",Negative,-0.287500,0.250000,False,38.1
37430,Housing-Real Estate & Property,I property business got link SMS happy perform...,Positive,0.800000,1.000000,True,38.1
37431,Housing-Real Estate & Property,"Useless app, I searched flats kondapur, Hydera...",Negative,-0.316667,0.400000,False,38.1