# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [2]:
# Run this code:

admissions = pd.read_csv('Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
# Your code here:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Best practise to make all the column names lower case and delete spaces.
Made two for loops to do this

In [4]:
admissions.columns=[x.lower() for x in admissions.columns]

In [5]:
admissions.columns=[x.replace(" ", "_") for x in admissions.columns]

In [6]:
admissions.columns

Index(['serial_no.', 'gre_score', 'toefl_score', 'university_rating', 'sop',
       'lor', 'cgpa', 'research', 'chance_of_admit'],
      dtype='object')

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [7]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   serial_no.         385 non-null    int64
 1   gre_score          385 non-null    int64
 2   toefl_score        385 non-null    int64
 3   university_rating  385 non-null    int64
 4   sop                385 non-null    float64
 5   lor                385 non-null    float64
 6   cgpa               385 non-null    float64
 7   research           385 non-null    int64
 8   chance_of_admit    385 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 27.2 KB

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [8]:
# Your code here:

admissions.set_index('serial_no.')

,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit
serial_no.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Instructions say: Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

It seems from runing the nunique function, that this is not true. There are fewer unique values for these than the total number of rows. To check this I will sort the GRE Score in reverse.

In [9]:
admissions['cgpa'].nunique()

168

In [10]:
admissions.loc[:,'gre_score'].nunique()

49

In [11]:
admissions['gre_score'].sort_values(ascending=False)

192    340
369    340
29     340
77     340
80     340
      ...
75     294
259    294
161    293
362    290
112    290
Name: gre_score, Length: 385, dtype: int64

Conclusion: There are indeed some duplicates

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [12]:
# Your code here:
admissions.groupby(['gre_score', 'cgpa']).apply(lambda df: df.loc[df.gre_score.idxmax()]).drop(['gre_score', 'cgpa'], axis = 1)

                serial_no.  toefl_score  university_rating  sop  lor  \
gre_score cgpa
290       7.46       113.0        104.0                4.0  2.0  2.5
          7.56       363.0        100.0                1.0  1.5  2.0
293       7.80       162.0         97.0                2.0  2.0  4.0
294       7.36        76.0         93.0                1.0  1.5  2.0
          7.64       260.0         95.0                1.0  1.5  1.5
...                    ...          ...                ...  ...  ...
340       9.60        30.0        114.0                5.0  4.0  4.0
          9.66       272.0        112.0                4.0  5.0  4.5
          9.74       370.0        113.0                4.0  5.0  5.0
          9.91       193.0        120.0                5.0  4.5  4.5
          9.92       137.0        120.0                4.0  4.5  4.0

                research  chance_of_admit
gre_score cgpa
290       7.46       0.0             0.45
          7.56       0.0             0.47
293       7.80       1.0             0.64
294       7.36       0.0             0.46
          7.64       0.0             0.49
...                  ...              ...
340       9.60       1.0             0.90
          9.66       1.0             0.94
          9.74       1.0             0.96
          9.91       1.0             0.97
          9.92       1.0             0.97

[385 rows x 7 columns]

SUCCESS! - Good example of how multiple functions can be grouped together in one line. 
When I had the drop function on a separate line it dropped those columns from the index as well

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [13]:
admissions.reset_index(inplace=True)

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [14]:
admissions.head()

,index,serial_no.,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit
0,0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [15]:
#Part 1: Count of all the students who scored 9 plus
countofgoodstudents = [int(x) for x in admissions.cgpa if x > 9]
type(countofgoodstudents)
len(countofgoodstudents)

110

In [16]:
#Part 2: Now the same to check if they did research 
countofrstudents = [int(x) for x in admissions.research if x == 1]
type(countofrstudents)
len(countofrstudents)

211

In [17]:
#Part 3: Can I combine these two list comprehensions??
countofgoodrstudents = [int(x) for x in admissions.research if admissions.research[x] == 1 and admissions.cgpa[x] > 9]
type(countofgoodrstudents)
len(countofgoodrstudents)

174

BOOM! - but the numbers are wrong I think :-( (just for this last part)

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [182]:
# Your code here:
meanoflowSOPrstudents = [int(x) for x in admissions.chance_of_admit if admissions.research[*] == 1 and admissions.sop[*] < 3.5]
meanoflowSOPrstudents

SyntaxError: invalid syntax (<ipython-input-182-74f716713167>, line 2)

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [ ]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [10]:
# Your code here:

We will generate the decision choice at random using the code below. Please run the cell.

In [ ]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [11]:
# Your code here:

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [12]:
# Your code here:

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [13]:
# Your code here:

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [14]:
# Your code here:

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [15]:
# Your code here: