# dates and strings - what you need to know

Working with datetime format
Standardizing input 
Using string functions

In [26]:
import pandas as pd

In [27]:
import numpy as np

### to work with dates, we need a data set that contains dates

In [28]:
file = pd.read_csv('web_data.csv')
file.dtypes

web_id           int64
client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [29]:
#use head to review the file

In [30]:
#convert the date_time column to be read as a datetime data type 
file['date_time'] = pd.to_datetime(file['date_time'], errors='coerce')

In [31]:
#use head() to review the first 12 rows of the file
file.head(12)

,web_id,client_id,visitor_id,visit_id,process_step,date_time
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:00
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:00
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:00
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:00
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:00
5,5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:00
6,6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:00
7,7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:00
8,8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:00
9,9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:00
10,10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05 13:08:00
11,11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:00

In [32]:
#use dtypes to see the new date time data type 
file.dtypes

web_id                   int64
client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
dtype: object

In [33]:
#use the day month year and index to check the month and day of the first row eg file['date_time'][0].year
file['date_time'][0].year
file['date_time'][0].month
file ['date_time'][0].day

17

In [34]:
#pull out the time 
file['date_time'][0].time()

datetime.time(15, 27)

In [35]:
#reformat the date - example 1
file['date_time'][0].strftime(format='%d-%M-%Y')

'17-27-2017'

In [36]:
#reformat the date - example 2
file['date_time'][0].strftime(format="%A %d. %B %Y")

'Monday 17. April 2017'

In [38]:
#create a filtered data frame by a particular date 
Apr_5 = file[file['date_time'] == '2017-04-05']

In [39]:
Apr_5.head()

,web_id,client_id,visitor_id,visit_id,process_step,date_time
15403,15403,9088919,594492611_13177416992,373345047_76916836421_363244,confirm,2017-04-05
97905,97905,5171878,88910480_73022518291,390443893_82608504306_269,start,2017-04-05
97906,97906,5171878,88910480_73022518291,390443893_82608504306_269,start,2017-04-05
292632,292632,1839329,674533465_6091016367,167956133_23637791586_417756,confirm,2017-04-05
296638,296638,8367317,541357206_53611607620,445730306_83279848654_782988,step_3,2017-04-05

In [40]:
#add a month column 
file['Month'] = pd.DatetimeIndex(file['date_time']).month

In [51]:
#add a day column 
file['Day'] = pd.DatetimeIndex(file['date_time']).day

In [42]:
#Review the data frame with head() 
file.head()

,web_id,client_id,visitor_id,visit_id,process_step,date_time,Month,Day
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:00,4,17
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:00,4,17
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:00,4,17
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:00,4,17
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:00,4,17

In [44]:
#filter by a particular day 
file.query('Day=="10"')

,web_id,client_id,visitor_id,visit_id,process_step,date_time,Month,Day
67,67,2519971,121616091_57089151674,428599802_30402877972_724989,confirm,2017-04-10 16:21:00,4,10
68,68,2519971,121616091_57089151674,428599802_30402877972_724989,confirm,2017-04-10 16:19:00,4,10
635,635,7276973,627003452_19249388085,117895119_16501051592_422436,step_3,2017-04-10 19:00:00,4,10
636,636,7276973,627003452_19249388085,117895119_16501051592_422436,step_2,2017-04-10 18:58:00,4,10
637,637,7276973,627003452_19249388085,117895119_16501051592_422436,step_1,2017-04-10 18:57:00,4,10
...,...,...,...,...,...,...,...,...
342699,342699,6218213,46682116_29129401247,109794854_38827776110_737663,step_2,2017-04-10 13:57:00,4,10
342700,342700,6218213,46682116_29129401247,109794854_38827776110_737663,step_1,2017-04-10 13:57:00,4,10
342701,342701,6218213,46682116_29129401247,109794854_38827776110_737663,start,2017-04-10 13:57:00,4,10
342702,342702,5761946,430669178_36342190495,57127250_50441598218_373661,step_1,2017-04-10 13:17:00,4,10
342703,342703,5761946,430669178_36342190495,57127250_50441598218_373661,start,2017-04-10 13:17:00,4,10

In [45]:
file.query('web_id')

,web_id,client_id,visitor_id,visit_id,process_step,date_time,Month,Day
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:00,4,17
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:00,4,17
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:00,4,17
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:00,4,17
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:00,4,17
...,...,...,...,...,...,...,...,...
343136,343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:00,3,31
343137,343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:00,3,31
343138,343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:00,3,31
343139,343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:00,3,31
343140,343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:00,3,31

In [57]:
#challenge - filter the df for saturdays

file.loc[file['date_time'].dt.weekday == 5]

,web_id,client_id,visitor_id,visit_id,process_step,date_time,Month,Day
354,354,2709011,664541274_97144910167,235162568_43115336410_822881,start,2017-04-08 12:33:00,4,8
355,355,9900469,210215964_20090640456,3461145_4721576513_877614,start,2017-04-01 19:02:00,4,1
357,357,6229916,483835308_26502657270,230630559_77569449276_549196,confirm,2017-04-01 16:29:00,4,1
358,358,6229916,483835308_26502657270,230630559_77569449276_549196,confirm,2017-04-01 16:27:00,4,1
366,366,4773291,587236617_20429853618,504295674_94485333270_228899,start,2017-04-08 04:49:00,4,8
...,...,...,...,...,...,...,...,...
342864,342864,6820024,415995398_21642161061,917003829_36953216287_21421,start,2017-03-18 12:27:00,3,18
342865,342865,6820024,415995398_21642161061,917003829_36953216287_21421,step_1,2017-03-18 12:26:00,3,18
342866,342866,6820024,415995398_21642161061,917003829_36953216287_21421,start,2017-03-18 12:25:00,3,18
342923,342923,127202,575836768_6553168853,786607636_58917493275_576382,start,2017-04-08 12:36:00,4,8
342924,342924,127202,575836768_6553168853,786607636_58917493275_576382,start,2017-04-08 12:35:00,4,8

In [46]:
file.loc[file['date_time'].dt.weekday == 5]

,web_id,client_id,visitor_id,visit_id,process_step,date_time,Month,Day
354,354,2709011,664541274_97144910167,235162568_43115336410_822881,start,2017-04-08 12:33:00,4,8
355,355,9900469,210215964_20090640456,3461145_4721576513_877614,start,2017-04-01 19:02:00,4,1
357,357,6229916,483835308_26502657270,230630559_77569449276_549196,confirm,2017-04-01 16:29:00,4,1
358,358,6229916,483835308_26502657270,230630559_77569449276_549196,confirm,2017-04-01 16:27:00,4,1
366,366,4773291,587236617_20429853618,504295674_94485333270_228899,start,2017-04-08 04:49:00,4,8
...,...,...,...,...,...,...,...,...
342864,342864,6820024,415995398_21642161061,917003829_36953216287_21421,start,2017-03-18 12:27:00,3,18
342865,342865,6820024,415995398_21642161061,917003829_36953216287_21421,step_1,2017-03-18 12:26:00,3,18
342866,342866,6820024,415995398_21642161061,917003829_36953216287_21421,start,2017-03-18 12:25:00,3,18
342923,342923,127202,575836768_6553168853,786607636_58917493275_576382,start,2017-04-08 12:36:00,4,8
342924,342924,127202,575836768_6553168853,786607636_58917493275_576382,start,2017-04-08 12:35:00,4,8

### Relative time

In [47]:
import time
from datetime import date
today = date.today()
today

datetime.date(2021, 3, 25)

In [58]:
import time

In [59]:
#your local time 
time.localtime(time.time())

time.struct_time(tm_year=2021, tm_mon=3, tm_mday=25, tm_hour=10, tm_min=27, tm_sec=13, tm_wday=3, tm_yday=84, tm_isdst=0)

In [60]:
#current time in london
time.gmtime(time.time())

time.struct_time(tm_year=2021, tm_mon=3, tm_mday=25, tm_hour=9, tm_min=27, tm_sec=17, tm_wday=3, tm_yday=84, tm_isdst=0)

https://docs.python.org/3/library/time.html

Directive and their Meaning

%a Locale’s abbreviated weekday name.
%A Locale’s full weekday name.
%b Locale’s abbreviated month name.
%B Locale’s full month name.
%c Locale’s appropriate date and time representation.
%d Day of the month as a decimal number [01,31].
%H Hour (24-hour clock) as a decimal number [00,23].
%I Hour (12-hour clock) as a decimal number [01,12].
%j Day of the year as a decimal number [001,366].
%m Month as a decimal number [01,12].
%M Minute as a decimal number [00,59].
%p Locale’s equivalent of either AM or PM.
%S Second as a decimal number [00,61].
%U Week number of the year (Sunday as the first day of the week) as a decimal number [00,53]. All days in a new year preceding the first Sunday are considered to be in week 0.
%w Weekday as a decimal number [0(Sunday),6].
%W Week number of the year (Monday as the first day of the week) as a decimal number [00,53]. All days in a new year preceding the first Monday are considered to be in week 0
%x Locale’s appropriate date representation.
%X Locale’s appropriate time representation.
%y Year without century as a decimal number [00,99].
%Y Year with century as a decimal number.
%z Time zone offset indicating a positive or negative time difference from UTC/GMT of the form +HHMM or -HHMM, where H represents decimal hour digits and M represents decimal minute digits [-23:59, +23:59].
%Z Time zone name (no characters if no time zone exists).
%% A literal '%' character.

# String functions

In [ ]:

# https://docs.python.org/2.5/lib/string-methods.html

In [61]:
string = " I am learning  data  analysis at Ironhack  . It is  the BEST! "

In [62]:
string.lower()

' i am learning  data  analysis at ironhack  . it is  the best! '

In [63]:
string.upper()

' I AM LEARNING  DATA  ANALYSIS AT IRONHACK  . IT IS  THE BEST! '

In [64]:
#we can identify numbers in strings 
'34'.isdigit() # hint: this does not work with decimal numbers

True

In [65]:
subjects='data science, coding  , python, visualisation '

In [66]:
#using a basic split around the comma 
subjects.split(', ')

['data science', 'coding  ', 'python', 'visualisation ']

In [67]:
#combine split on column with trim of whitespace
pieces = [x.strip() for x in subjects.split(',')]
pieces

['data science', 'coding', 'python', 'visualisation']

In [68]:
#keyword search 
'data science' in subjects

True

In [69]:
str='data scientists too'

In [70]:
#isolate part of a string using index 
str[5:-4]

'scientists'

In [71]:
#replace
'its hard playing with strings'.replace('hard','brilliant')

'its brilliant playing with strings'

In [72]:
#use left strip to remove characters 
text="..ssshhh..,,,,aaaahsdata"
x = text.lstrip(".,ash")
x

'data'

##### Useful for removing white space

In [73]:
#use left strip to remove leading white space
text2="     whoami?"
y= text2.lstrip()
y

'whoami?'

In [74]:
#substring count 
my_string = "How many fruits do you have in your fruit basket?"
my_string.count("fruit")

2