##### Dictionaries

In [120]:
ages = {"Flo":100,
        "Jonas":3,
        "Kosta":310,
        "Sian":22
       }

In [121]:
ages

{'Flo': 100, 'Jonas': 3, 'Kosta': 310, 'Sian': 22}

In [122]:
type(ages)

dict

##### Accessing keys & values

In [124]:
ages.keys()

dict_keys(['Flo', 'Jonas', 'Kosta', 'Sian'])

In [125]:
ages.values()

dict_values([100, 3, 310, 22])

In [129]:
ages["Kosta"]

310

In [127]:
len(ages)

4

##### Iterate through dictionary

In [128]:
for teacher in ages.keys():
    print(f"{teacher} is {ages[teacher]} years old.")

Flo is 100 years old.
Jonas is 3 years old.
Kosta is 310 years old.
Sian is 22 years old.

#### Nested dictionaries

Creating a dictionary of ironhackers. It stores their age, role and species.

In [130]:
teachers_dict = {
    "Flo":{
        "age":100,
        "role":"LT",
        "species":"giganotosaurus_crocodile"
    },
    "Jonas":{
        "age":3,
        "role":"PM",
        "species":"titanosauria_caiman"
    },
    "Kosta":{
        "age":310,
        "role":"TA",
        "species":"triceratops_alligator"
    },
    "Sian":{
        "age":22,
        "role":"LT",
        "species":"plateosaurus_imperator"
    }
}

In [131]:
teachers_dict["Jonas"]["species"]

'titanosauria_caiman'