# Python Object types

##### Strings

In [35]:
mystring = "hey guys how are you doing"

In [31]:
type(mystring)

str

Lots of strings attached...https://www.w3schools.com/python/python_ref_string.asp

In [4]:
print(mystring)

hey guys how are you doing

In [5]:
str = mystring.capitalize().casefold().center(111).expandtabs(999999988).format().format_map(42).capitalize().ljust(1).lower().lstrip().replace("guys", "girls").swapcase().swapcase().upper().translate("hey guys how are you doing? Can you hear me? Is my mic off? Am I muted> donno.").join(mystring*1)

In [6]:
type(str)

str

In [7]:
str

'hddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyeddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy ddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyygddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyuddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyysddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy ddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyhddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyoddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyywddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy ddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyaddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyrddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyeddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy ddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyoddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyuddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy ddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyydddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyoddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyiddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyynddYy oRoSydOWymRdyYOUyeOoN yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyg'

In [8]:
print(mystring)

hey guys how are you doing

In [36]:
mystring.count("e")

2

In [12]:
mystring.replace("guys", "girls")

'hey girls how are you doing'

In [13]:
mystring.upper()

'HEY GUYS HOW ARE YOU DOING'

In [14]:
mystring.lower()

'hey guys how are you doing'

In [15]:
mystring.capitalize()

'Hey guys how are you doing'

In [16]:
mystring.title()

'Hey Guys How Are You Doing'

In [17]:
mystring = "3"

In [18]:
mystring.isdigit()

True

In [19]:
mystring = " "

In [20]:
mystring.isspace()

True

In [21]:
mystring.isprintable()

True

##### Indexing

In [22]:
mystring = "hey guys how are you doing"

In [23]:
mystring[0]

'h'

In [37]:
mystring[3]

' '

In [24]:
mystring[-1]

'g'

In [25]:
mystring[2:5]

'y g'

In [26]:
mystring[4:]

'guys how are you doing'

In [27]:
mystring = "That's"

In [28]:
mystring + " all folks!"

"That's all folks!"

In [30]:
a = "5"
b = "3"
a + b

'53'

##### Lists

In [51]:
TAs = ["Null", "asd", 404]

In [52]:
backup = TAs.copy()

In [53]:
TAs = ["triceratops_alligator"]

In [54]:
type(TAs)

list

In [55]:
print(TAs)

['triceratops_alligator']

In [56]:
TAs.append("giganotosaurus_crocodile")

In [58]:
TAs

['triceratops_alligator', 'giganotosaurus_crocodile']

In [59]:
LT = ["plateosaurus_imperator"]

In [60]:
teachers = TAs + LT

In [61]:
print(teachers)

['triceratops_alligator', 'giganotosaurus_crocodile', 'plateosaurus_imperator']

In [62]:
teachers.count("plateosaurus_imperator")

1

In [63]:
teachers.index("plateosaurus_imperator")

2

In [67]:
teachers[2]

'plateosaurus_imperator'

In [74]:
teachers

['triceratops_alligator', 'giganotosaurus_crocodile', 'plateosaurus_imperator']

In [78]:
teachers[0][11]

'_'

In [79]:
len(teachers)

3

In [80]:
LT = teachers.pop()

In [81]:
print(LT)

plateosaurus_imperator

In [82]:
type(LT)

str

In [84]:
teachers.sort()

In [85]:
print(teachers)

['giganotosaurus_crocodile', 'triceratops_alligator']

In [86]:
teachers = ['triceratops_alligator', 'giganotosaurus_crocodile', 'plateosaurus_imperator']

In [87]:
teachers[1] = "Flo"

In [88]:
teachers

['triceratops_alligator', 'Flo', 'plateosaurus_imperator']

In [89]:
import numpy as np

In [100]:
num_list = np.random.randint(100, size=130).tolist()

In [103]:
type(num_list)

list

In [102]:
print(num_list)

[72, 8, 89, 19, 39, 58, 29, 97, 76, 43, 58, 77, 48, 75, 33, 36, 32, 14, 40, 14, 29, 37, 32, 55, 47, 67, 68, 1, 78, 43, 72, 16, 66, 54, 29, 67, 49, 33, 28, 50, 30, 33, 80, 14, 69, 97, 7, 72, 92, 8, 7, 32, 3, 30, 33, 99, 32, 18, 5, 50, 32, 84, 59, 26, 66, 82, 5, 46, 13, 21, 53, 63, 5, 48, 5, 43, 14, 74, 75, 94, 63, 26, 78, 68, 15, 65, 85, 9, 5, 97, 45, 63, 68, 72, 26, 79, 54, 30, 57, 22, 11, 29, 48, 83, 23, 16, 10, 67, 26, 61, 44, 3, 36, 54, 80, 7, 88, 20, 4, 56, 92, 37, 19, 44, 81, 38, 19, 12, 52, 55]

In [104]:
num_list = sorted(num_list, reverse=False)
print(num_list)

[1, 3, 3, 4, 5, 5, 5, 5, 5, 7, 7, 7, 8, 8, 9, 10, 11, 12, 13, 14, 14, 14, 14, 15, 16, 16, 18, 19, 19, 19, 20, 21, 22, 23, 26, 26, 26, 26, 28, 29, 29, 29, 29, 30, 30, 30, 32, 32, 32, 32, 32, 33, 33, 33, 33, 36, 36, 37, 37, 38, 39, 40, 43, 43, 43, 44, 44, 45, 46, 47, 48, 48, 48, 49, 50, 50, 52, 53, 54, 54, 54, 55, 55, 56, 57, 58, 58, 59, 61, 63, 63, 63, 65, 66, 66, 67, 67, 67, 68, 68, 68, 69, 72, 72, 72, 72, 74, 75, 75, 76, 77, 78, 78, 79, 80, 80, 81, 82, 83, 84, 85, 88, 89, 92, 92, 94, 97, 97, 97, 99]

#### Iterating through lists

In [107]:
for num in num_list:
    print(f"{num}% done...")

1% done...
3% done...
3% done...
4% done...
5% done...
5% done...
5% done...
5% done...
5% done...
7% done...
7% done...
7% done...
8% done...
8% done...
9% done...
10% done...
11% done...
12% done...
13% done...
14% done...
14% done...
14% done...
14% done...
15% done...
16% done...
16% done...
18% done...
19% done...
19% done...
19% done...
20% done...
21% done...
22% done...
23% done...
26% done...
26% done...
26% done...
26% done...
28% done...
29% done...
29% done...
29% done...
29% done...
30% done...
30% done...
30% done...
32% done...
32% done...
32% done...
32% done...
32% done...
33% done...
33% done...
33% done...
33% done...
36% done...
36% done...
37% done...
37% done...
38% done...
39% done...
40% done...
43% done...
43% done...
43% done...
44% done...
44% done...
45% done...
46% done...
47% done...
48% done...
48% done...
48% done...
49% done...
50% done...
50% done...
52% done...
53% done...
54% done...
54% done...
54% done...
55% done...
55% done...
56% done...
57% done...
58% done...
58% done...
59% done...
61% done...
63% done...
63% done...
63% done...
65% done...
66% done...
66% done...
67% done...
67% done...
67% done...
68% done...
68% done...
68% done...
69% done...
72% done...
72% done...
72% done...
72% done...
74% done...
75% done...
75% done...
76% done...
77% done...
78% done...
78% done...
79% done...
80% done...
80% done...
81% done...
82% done...
83% done...
84% done...
85% done...
88% done...
89% done...
92% done...
92% done...
94% done...
97% done...
97% done...
97% done...
99% done...

In [108]:
import time

In [109]:
time.sleep(2)

In [114]:
waiting_time = 7
pct = 0

for t in range(1, 6):
    time.sleep(7 / 5)
    pct += 20
    print(f"{pct}% done...", end='\r')
time.sleep(7 / 5)
print("The process is done!", end='\r')

In [115]:
def progress_bar(waiting_time):
    pct = 0
    for t in range(1, 6):
        time.sleep(waiting_time / 5)
        pct += 20
        print(f"{pct}% done...", end='\r')
    time.sleep(waiting_time / 5)
    print("The process is done!", end='\r')

In [119]:
progress_bar(1) #Teaser: More on that later...

##### Dictionaries

In [120]:
ages = {"Flo":100,
        "Jonas":3,
        "Kosta":310,
        "Sian":22
       }

In [121]:
ages

{'Flo': 100, 'Jonas': 3, 'Kosta': 310, 'Sian': 22}

In [122]:
type(ages)

dict

##### Accessing keys & values

In [124]:
ages.keys()

dict_keys(['Flo', 'Jonas', 'Kosta', 'Sian'])

In [125]:
ages.values()

dict_values([100, 3, 310, 22])

In [129]:
ages["Kosta"]

310

In [127]:
len(ages)

4

##### Iterate through dictionary

In [128]:
for teacher in ages.keys():
    print(f"{teacher} is {ages[teacher]} years old.")

Flo is 100 years old.
Jonas is 3 years old.
Kosta is 310 years old.
Sian is 22 years old.

#### Nested dictionaries

Creating a dictionary of ironhackers. It stores their age, role and species.

In [130]:
teachers_dict = {
    "Flo":{
        "age":100,
        "role":"LT",
        "species":"giganotosaurus_crocodile"
    },
    "Jonas":{
        "age":3,
        "role":"PM",
        "species":"titanosauria_caiman"
    },
    "Kosta":{
        "age":310,
        "role":"TA",
        "species":"triceratops_alligator"
    },
    "Sian":{
        "age":22,
        "role":"LT",
        "species":"plateosaurus_imperator"
    }
}

In [131]:
teachers_dict["Jonas"]["species"]

'titanosauria_caiman'

##### Tuples
|Lists|VS|Tuples|
|---|---|---|
|"[]"|VS|"()"|
|variable|VS|fixed length|
|mutable|VS|immutable|

In [132]:
teachers_tuple = tuple(teachers)

In [133]:
teachers_tuple

('triceratops_alligator', 'Flo', 'plateosaurus_imperator')

#### Sets

In [134]:
import random

In [135]:
random.randint(1, 100)

64

Take a random sample (with replacement) of 100 numbers from 1 to 100:

In [136]:
random_numbers = []

for i in range(100):
    random_numbers.append(random.randint(1, 100))

In [137]:
random_numbers

[4,
 1,
 98,
 98,
 14,
 14,
 35,
 71,
 68,
 30,
 12,
 39,
 96,
 48,
 24,
 76,
 2,
 43,
 75,
 26,
 92,
 15,
 40,
 94,
 80,
 62,
 76,
 90,
 95,
 76,
 2,
 67,
 3,
 99,
 30,
 43,
 100,
 92,
 80,
 18,
 27,
 56,
 41,
 39,
 84,
 55,
 86,
 74,
 18,
 62,
 92,
 4,
 64,
 64,
 21,
 52,
 99,
 12,
 20,
 98,
 68,
 46,
 49,
 64,
 3,
 67,
 67,
 79,
 62,
 38,
 78,
 76,
 59,
 5,
 95,
 59,
 50,
 9,
 61,
 33,
 57,
 37,
 64,
 64,
 20,
 18,
 1,
 78,
 7,
 84,
 33,
 1,
 44,
 77,
 62,
 66,
 55,
 18,
 32,
 63]

In [138]:
len(random_numbers)

100

In [139]:
len(set(random_numbers))

61

What is the expected proportion of unique elements when taking samples with replacement of the same size of the population?

Too soon for statistics: take a hacker approach - repeat the operation a few thousand times and report the average.

##### Iretate with sets

In [140]:
import statistics

In [141]:
simuls = 100000
set_size = 100

simuls_avg = []

for simul in range(simuls):
    random_numbers = []
    for i in range(set_size):
        random_numbers.append(random.randint(1,set_size))
    simuls_avg.append(len(set(random_numbers)))

statistics.mean(simuls_avg)

63.40413

##### While loops:
Program to add natural numbers up to sum = 1+2+3+...+n

In [143]:
# Taking input from the user, teaser.

num = 2
sum = 0
counter = 1

while counter <= num:
    sum += counter
    counter += 1
print("The sum is", sum)

The sum is 3