In [26]:
import pandas as pd

In [27]:
import numpy as np

# String functions

In [ ]:

# https://docs.python.org/2.5/lib/string-methods.html

In [61]:
string = " I am learning  data  analysis at Ironhack  . It is  the BEST! "

In [62]:
string.lower()

' i am learning  data  analysis at ironhack  . it is  the best! '

In [63]:
string.upper()

' I AM LEARNING  DATA  ANALYSIS AT IRONHACK  . IT IS  THE BEST! '

In [64]:
#we can identify numbers in strings 
'34'.isdigit() # hint: this does not work with decimal numbers

True

In [65]:
subjects='data science, coding  , python, visualisation '

In [66]:
#using a basic split around the comma 
subjects.split(', ')

['data science', 'coding  ', 'python', 'visualisation ']

In [67]:
#combine split on column with trim of whitespace
pieces = [x.strip() for x in subjects.split(',')]
pieces

['data science', 'coding', 'python', 'visualisation']

In [68]:
#keyword search 
'data science' in subjects

True

In [69]:
str='data scientists too'

In [70]:
#isolate part of a string using index 
str[5:-4]

'scientists'

In [71]:
#replace
'its hard playing with strings'.replace('hard','brilliant')

'its brilliant playing with strings'

In [72]:
#use left strip to remove characters 
text="..ssshhh..,,,,aaaahsdata"
x = text.lstrip(".,ash")
x

'data'

##### Useful for removing white space

In [73]:
#use left strip to remove leading white space
text2="     whoami?"
y= text2.lstrip()
y

'whoami?'

In [74]:
#substring count 
my_string = "How many fruits do you have in your fruit basket?"
my_string.count("fruit")

2